body {
    font-family: 'Brush Script MT', cursive;
    cursor: default;
    user-select:none
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}


::-webkit-scrollbar-thumb {
    background-color: #aeb96b;
    border-radius: 15px;
    border: 1px solid transparent;
    background-clip: content-box;
}

