<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'CSS/card.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/card_skills.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/map.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/main.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/down_panel.css' %}">
</head>
<body>
    
</body>
<script>
var csrf_token = '{{ csrf_token }}'
var team = {{ team }}
var heroes_names = {{ heroes|safe }}
</script>
<script src="{% static 'JS/game/set_up.js' %}"></script>
<script type="module" src="{% static 'JS/game/game.js' %}"></script>
</html>
